@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #4F622E;
  --color-secondary: #1A1A1A;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
    /* Extra fallback for safety */
    background-color: var(--background);
    color: var(--foreground);
  }
}